* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(215, 212, 212);
}

@mixin flex-column($gap:0rem) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

main {
    width: 100%;
    @include flex-column(0rem);
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        color: black;
    }
    section {
        width: 100%;
        @include flex-column(1.1rem);
        background-color: #191919;
        padding: 0.8rem;
        .view1 {
            @include flex-column(1.5rem);
            .top {
                width: 100%;
                flex: 1;
                display: flex;
                img {
                    width: 100%;
                    border-radius: 1rem;
                }
            }
            .bottom {
                @include flex-column(0rem);
                background-color: #292929;
                padding: 1.5rem;
                border-radius: 10px;
                p {
                    font-weight: 400;
                    margin-bottom: 5rem;
                }
                .text {
                    @include flex-column(0.7rem);
                    padding: 2rem;
                    h1 {
                        text-transform: uppercase;
                        font-weight: 200;
                        font-size: 2.5rem;
                    }
                    p {
                        font-weight: 300;
                        opacity: 0.6;
                        line-height: 1.5;
                        font-size: 1.5rem;
                    }
                    button {
                        width: fit-content;
                        padding: 0.8rem 1.5rem;
                        border-radius: 0.5rem;
                        border: none;
                        background-color: #fff;
                        color: #000;
                        font-weight: 600;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

@media (min-width:900px) {
    main {
        background-color: red;
        section {
            flex-direction: row;
            .top>img {
                height: 100px;
                width: 100px;
            }
            .bottom {
                width: 50%;
            }
        }
    }
}