* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
    color: white;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: lightseagreen;
}