* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: black;
    background-color: black;
    padding: 20px;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    position: relative;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    background-image: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    overflow: hidden;
}
.card div{
    position: relative;
    overflow: hidden;
}
.card img {
    height: 200px;
    width: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.card h2 {
    font-size: 20px;
    margin-top: 10px;
    text-align: center;

}

.card i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0) rotate(-60deg);
    font-size: 50px;
    opacity: 0;
     background: linear-gradient(#185494 ,#ee1d34, #faaf18);
-webkit-background-clip: text;
  background-clip: text;
     color: transparent;
   
    transition: all cubic-bezier(0.65, 1, .77, 1.44) 0.4s;
}
 /* .card i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0) rotate(-60deg);
    font-size: 50px;
    opacity: 0;
    
    background: linear-gradient(#185494 ,#ee1d34, #faaf18);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    transition: all cubic-bezier(0.65, 1, .77, 1.44) 0.4s;
} */